<nav class="navbar navbar-default navbar-fixed-bottom" 
    style="bottom: 0; width: 100%; height: 50px;">
    <div class="panel-footer">
        <div class="col-md-4">&copy;2016 MyMan(u)</div><div class="col-md-8" style="text-align:right; font-style:italic;">May U live 2 see the Dawn...</div>
    </div>
</nav>