{% extends 'MyAppFilmsBundle:Default:index.html.twig' %}

{% block content %}
	<div class="container">
	    <div class="row">
	        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
	            <div class="panel-group">
	                <div class="panel panel-primary">
	                    <div class="panel-heading"><strong>{{ "acteur.editHeader" | trans }}</strong></div>
	                    <div class="panel-body">{{ "acteur.editBody" | trans }}</div>
	                </div>
	            </div>

				{% include 'MyAppFilmsBundle:Default:message.html.twig' %}
				{% include 'MyAppFilmsBundle:Acteur:form.html.twig' %}

	        </div>
	    </div>
	</div>	
{% endblock %}
